.article_list_element_container {
    max-width: 100%;
    display: flex;
    position: relative;
    padding: 8px 15px;
    border-bottom: 0.1px solid gray;
    cursor: pointer;
}

.article_info {
    flex: 1;
    overflow: hidden;
}

.article_info
.title {
    font-size: 0.9rem;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article_info
.title.checked {
    color: gray;
}

.article_info
.date_and_author {
    font-size: 0.6rem;
    color: gray;
}

.article_info
.is_new {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0px;
    height: 0px;
    transform: translate(0, -50%);
    font-size: 0;
    line-height: 0px;
    text-align: center;
    text-overflow: clip;
    border-radius: 100%;
    color: white;
    background-color: #021d2e;
}

.article_list_element_container 
.bookmark {
    flex: 0 0 30px;
    position: relative;
}

.article_list_element_container 
.bookmark svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}